// navigation section starts
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 16px;

  grid-row: 1 / 2;
  grid-column: 1 / -1;
  .icons__list {
    list-style-type: none;
    height: 30px;
    padding-left: 0;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;

    li {
      display: inline-block;
    }
    li > a {
      text-decoration: none;

      i {
        color: #fff;
      }
    }
  }
  .float-icon--right {
  }
  .fa-search {
    color: #fff;
  }
}
// navigation section ends

// header section starts
.header {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
// header section ends

// hero image section starts
.hero__section {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}
// hero image section ends
